# change in your extruder config -> max_extrude_cross_section: 30 
[gcode_macro POOP]
gcode:
    M117 Poopies!
    G92 E0
    G90                       ; absolute positioning

    ; move nozzle away from bed
    G1 Z20 F3000

    ; Move to POOP position
    G1 X5 Y5 F5000
    G1 Z0.3 F3000.0

    G1 Z2 E8 F600
    M106 S100
    G1 X5 Y5 Z7 E60 F30
    G1 X5 Y5 Z10

    M106 S255
    G4 P8000

    M117 Flushing... 
    G1 X40 Y5 Z9 F5000
    G1 Z1.0 F3000
    G1 X5 Y5 Z0.4 F3600
    M106 S0
    M117 Printing...


[gcode_macro PRIME_LINE]
gcode:
    M117 Priming ...
    G1 X3 Y1 F5000            ; go to edge of bed
    G1 Z0.3 F2000             ; lower nozzle
    G92 E0                    ; reset extruder position
    G1 E2 F600
    # 1st line
    G1 Y30 E5 F1000           ; Draw prime line
    # 2nd line
    G1 X5 Y1 Z0.3 F5000
    G1 Y30 E8 F1000
    G92 E0                    ; reset extruder position again
    M117 Printing ...