#####################################################################
# Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: gpio17
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0    # You can't PWM the delta fan unless using blue wire

[multi_pin my_fan]
pins: gpio18, gpio20

[fan]
pin: multi_pin:my_fan